bumpcalver==2025.12.30.1 # Vulnerabilities: None
devsetgo-lib==2025.10.4.2 # Vulnerabilities: None
fastapi[all]==0.134.0 # From 0.131.0 | Vulnerabilities: None
httpx==0.28.1 # Vulnerabilities: None
lack==23.3.0.6 # From 26.1.0 | Vulnerabilities: None
pre-commit==4.5.1 # Vulnerabilities: None
pydantic-schemaforms==26.1.8b0 # From 26.1.7b0 | Vulnerabilities: None
pytest==9.0.2 # Vulnerabilities: None
python-dotenv==1.2.1 # Vulnerabilities: None
ruff==0.15.4 # From 0.15.2 | Vulnerabilities: None
silly==1.1.0 # Vulnerabilities: None
